apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflare-ddns
data: |
  {
    "cloudflare": [
      {
        "authentication": {
          "api_token": "${CF_DDNS_API_TOKEN}",
        },
        "zone_id": "zetsu.dev",
        "subdomains": [
          {
            "name": "home",
            "proxied": false
          },
        ]
      }
    ],
    "a": true,
    "aaaa": true,
    "purgeUnknownRecords": false,
    "ttl": 300
  }