namespace: observability

helmCharts:
- name: kube-prometheus-stack
  namespace: observability
  releaseName: monitoring
  includeCRDs: true
  valuesInline:
    namespaceOverride: observability
    grafana:
      ingress:
        enabled: true
        ingressClassName: contour-internal
        annotations:
          cert-manager.io/cluster-issuer: zetsudev-issuer
          external-dns.alpha.kubernetes.io/hostname: grafana.zetsu.dev
        hosts:
          - grafana.zetsu.dev
        tls:
          - hosts:
            - grafana.zetsu.dev 
            secretName: grafana-tls
    prometheusOperator:
      tls:
        enabled: false
    admissionWebhooks:
      enabled: true
      certManager:
        enabled: true
  repo: https://prometheus-community.github.io/helm-charts
