namespace: gpu-operator

helmCharts:
- name: gpu-operator
  releaseName: nvidia
  includeCRDs: true
  valuesInline:
    driver.enabled: false
    toolkit:
      env:
      - name: CONTAINERD_CONFIG
        value: /var/snap/microk8s/current/args/containerd-template.toml
      - name: CONTAINERD_SOCKET
        value: /var/snap/microk8s/common/run/containerd.sock
      - name: CONTAINERD_RUNTIME_CLASS
        value: nvidia
      - name: CONTAINERD_SET_AS_DEFAULT
        value: "true"
  version: v25.3.1
  repo: https://helm.ngc.nvidia.com/nvidia

resources:
  - namespace.yaml

