config:
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: git@github.com:zetsub0u/tinycorp.git
      targetRevision: master

applications:
  - name: sealed-secrets
  - name: argocd
  - name: code-server
  - name: metallb
  - name: ollama
