config:
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: git@github.com:zetsub0u/tinycorp.git
      targetRevision: master

applications:
  - name: sealed-secrets
  - name: argocd
  - name: code-server
  - name: metallb
  - name: ollama
  - name: contour
    namespace: projectcontour
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        jsonPointers:
          - /spec/preserveUnknownFields
  - name: ddns
    namespace: kube-system
  - name: cert-manager
  - name: gpu-operator
  - name: observability
    serverSideApply: true